In [2]:
import pandas as pd
import numpy as np

In [3]:
len(pd.date_range('2004-01-01','2016-12-01',freq='A'))

12

In [12]:
testVals = pd.DataFrame(np.random.rand(12,12),index=pd.date_range('2004-01-01','2015-12-01',freq='AS-JAN'))
testVals

,0,1,2,3,4,5,6,7,8,9,10,11
2004-01-01,0.479889,0.108496,0.456179,0.935101,0.600256,0.792143,0.665158,0.650183,0.750088,0.712133,0.061282,0.984271
2005-01-01,0.589540,0.070483,0.642084,0.085319,0.039906,0.274217,0.342404,0.363026,0.132412,0.373852,0.098513,0.725330
2006-01-01,0.273584,0.456963,0.168015,0.805221,0.537980,0.522729,0.215321,0.074760,0.986211,0.966696,0.839326,0.296685
2007-01-01,0.947780,0.019140,0.816514,0.641745,0.492075,0.659233,0.760015,0.100197,0.047447,0.863942,0.951642,0.714836
2008-01-01,0.876565,0.965333,0.827686,0.367773,0.330953,0.697115,0.449364,0.639864,0.778939,0.307546,0.397623,0.452809
2009-01-01,0.969043,0.128844,0.393894,0.901210,0.907394,0.879683,0.513328,0.222250,0.351666,0.795035,0.334049,0.646467
2010-01-01,0.339399,0.129928,0.943078,0.121313,0.551989,0.872207,0.866951,0.312318,0.996802,0.370699,0.752368,0.439863
2011-01-01,0.539313,0.550901,0.067277,0.577990,0.089024,0.196637,0.006049,0.663012,0.094199,0.666933,0.319244,0.254591
2012-01-01,0.516896,0.222542,0.047129,0.051885,0.317414,0.947564,0.048656,0.031892,0.667555,0.447857,0.052056,0.506982
2013-01-01,0.091843,0.199574,0.913453,0.496377,0.377782,0.157329,0.864258,0.260431,0.452013,0.690517,0.202704,0.659406
2014-01-01,0.777926,0.868309,0.363712,0.097560,0.866603,0.882501,0.284543,0.563024,0.232852,0.635719,0.662673,0.851856
2015-01-01,0.847626,0.405432,0.322165,0.255084,0.165018,0.742165,0.363945,0.480024,0.092469,0.270964,0.927262,0.689983

In [5]:
testVals['Ann. Mean'] = testVals.mean(axis=1)

In [6]:
testVals

,0,1,2,3,4,5,6,7,8,9,10,11,Ann. Mean
2004-01-01,0.719770,0.518000,0.660113,0.256706,0.211868,0.666054,0.135903,0.979547,0.511811,0.687248,0.849866,0.411024,0.550659
2005-01-01,0.305538,0.050995,0.376567,0.970272,0.612963,0.301330,0.910021,0.425920,0.677303,0.300907,0.703542,0.161315,0.483056
2006-01-01,0.814026,0.663787,0.932074,0.843730,0.134251,0.218621,0.111123,0.470646,0.521418,0.084732,0.059076,0.269354,0.426903
2007-01-01,0.173063,0.794616,0.301535,0.930965,0.689618,0.157386,0.378869,0.499743,0.819336,0.920134,0.035130,0.041669,0.478505
2008-01-01,0.477889,0.670770,0.980581,0.903631,0.515524,0.535330,0.884382,0.887238,0.438902,0.418445,0.944131,0.825462,0.706857
2009-01-01,0.773045,0.998493,0.877063,0.208909,0.626902,0.078228,0.334492,0.385058,0.107868,0.051332,0.260530,0.961227,0.471929
2010-01-01,0.147509,0.766773,0.908211,0.432138,0.350059,0.028666,0.899124,0.390588,0.297902,0.759647,0.369140,0.542502,0.491022
2011-01-01,0.730433,0.123962,0.023503,0.876858,0.647063,0.453641,0.188745,0.546573,0.630287,0.507764,0.765100,0.619766,0.509475
2012-01-01,0.835265,0.671798,0.775556,0.370435,0.536687,0.798989,0.609701,0.178761,0.193896,0.545974,0.361025,0.104512,0.498550
2013-01-01,0.937084,0.369176,0.797227,0.998655,0.760781,0.742076,0.169901,0.240955,0.107388,0.377418,0.849361,0.937198,0.607268
2014-01-01,0.900789,0.240685,0.545190,0.246652,0.592255,0.986767,0.826505,0.705201,0.404357,0.625098,0.669682,0.814527,0.629809
2015-01-01,0.026987,0.656615,0.795061,0.867826,0.395277,0.554353,0.547000,0.591328,0.761717,0.593514,0.486639,0.940261,0.601381

In [7]:
testVals[0]

2004-01-01    0.719770
2005-01-01    0.305538
2006-01-01    0.814026
2007-01-01    0.173063
2008-01-01    0.477889
2009-01-01    0.773045
2010-01-01    0.147509
2011-01-01    0.730433
2012-01-01    0.835265
2013-01-01    0.937084
2014-01-01    0.900789
2015-01-01    0.026987
Freq: AS-JAN, Name: 0, dtype: float64

In [8]:
testVals.iloc[:,0]

2004-01-01    0.719770
2005-01-01    0.305538
2006-01-01    0.814026
2007-01-01    0.173063
2008-01-01    0.477889
2009-01-01    0.773045
2010-01-01    0.147509
2011-01-01    0.730433
2012-01-01    0.835265
2013-01-01    0.937084
2014-01-01    0.900789
2015-01-01    0.026987
Freq: AS-JAN, Name: 0, dtype: float64

In [9]:
testVals.iloc[:,0] == testVals[0]

2004-01-01    True
2005-01-01    True
2006-01-01    True
2007-01-01    True
2008-01-01    True
2009-01-01    True
2010-01-01    True
2011-01-01    True
2012-01-01    True
2013-01-01    True
2014-01-01    True
2015-01-01    True
Freq: AS-JAN, Name: 0, dtype: bool

In [10]:
np.all(testVals.iloc[:,0] == testVals[0])

True